<h1>Add a dose</h1>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all%>
  <%= f.submit "Add a dose", class: "btn btn-primary"%>
<% end %>

<p><%= link_to 'Go back to Cocktails', cocktails_path %></p>