<div id="Eduction" class="tabcontent">
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("logo_le_wagon.png"), "home" %>
      </div>
      <div class="company-information">
        <h1>Full Stack Developer</h1>
        <h2><%=  link_to "www.lewagon.com", "https://www.lewagon.com/web-development-course/full-timep" %></h2>  
        <p>2020</p>
      </div>
    </div>          
  </div>

  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("logo_hva.png"), "home" %>
      </div>
      <div class="company-information">
        <h1>Minor :: Online Management</h1>
        <h2><%=  link_to "www.hva.nl", "https://www.hva.nl/" %></h2>  
        <h2>www.hva.nl</h2>
        <p>2013</p>
      </div>
    </div>          
  </div>

  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("logo_avans.png"), "home" %>
      </div>
      <div class="company-information">
        <h1>Bachelor Degree, Business Administration and Management</h1>
        <h2><%=  link_to "www.avans.nl", "https://www.avans.nl/" %></h2>  
        <p>2010 - 2014</p>
      </div>
    </div>          
  </div>

  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("logo_hu.png"), "home" %>
      </div>
      <div class="company-information">
        <h1>Propaedeutic - Digital communication</h1>
        <h2><%=  link_to "www.hu.nl", "https://www.hu.nl/" %></h2>
        <p>2007 - 2008</p>
      </div>
    </div>          
  </div>


</div>