<div id="Experience" class="tabcontent">
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("logo_gold.png"), "home" %>
      </div>
      <div class="company-information">
        <h1>Full Stack Developer</h1>
        <h2>LJM Web Development :: Freelance</h2>
        <p>sep. 2020 - present </p>
      </div>
    </div>
  </div>
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("the_breda_group.png"), "http://www.bredagroup-amsterdam.com" %>
      </div>
      <div class="company-information">
        <h1>Managing Director</h1>
        <h2>THE BREDA GROUP</h2>
        <p>2017 – sep. 2020</p>
      </div>
    </div>
  </div>
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("tkb_logo.png"), "http://www.tkb.nl" %>
      </div>
      <div class="company-information">
        <h1>Product Owner & Proces Coordinator</h1>
        <h2>Trust Krediet Beheer</h2>
        <p>2015 – 2017</p>
      </div>
    </div>
  </div>
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("tkb_logo.png"), "http://www.tkb.nl" %>
      </div>
      <div class="company-information">
        <h1>Teamlead</h1>
        <h2>Trust Krediet Beheer</h2>
        <p>2013 – 2015</p>
      </div>
    </div>
  </div>
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("tkb_logo.png"), "http://www.tkb.nl" %>
      </div>
      <div class="company-information">
        <h1>Accountmanager</h1>
        <h2>Trust Krediet Beheer</h2>
        <p>2012 – 2013</p>
      </div>
    </div>
  </div>
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("erasmus_logo.png"), "https://www.erasmusmc.nl" %>
      </div>
      <div class="company-information">
        <h1>Stagiaire</h1>
        <h1>Licentiemanagement </h1>
        <h2>Erasmus MC</h2>
        <p>2013 - 2014</p>
      </div>
    </div>
  </div>
  <div class="experience-div">
    <div class="experience-card">
      <div class="company-logo">
        <%= link_to image_tag("coface_logo.png"), "https://www.coface.nl" %>
      </div>
      <div class="company-information">
        <h1>Collector Agent</h1>
        <h2>Coface Nederland Services</h2>
        <p>2010 - 2012</p>
      </div>
    </div>
  </div>
</div>