<div id="Skills" class="tabcontent">
  <div class="skill-img">

    <%= image_tag 'logo_sql.png', class:"sql-logo" %>
    <%= image_tag 'logo_ruby_on_rails.png', class:"ruby-logo" %> 
    <%= image_tag 'logo_html.png',class:"html-logo" %>
    <%= image_tag 'logo_css.png', class:"css-logo" %>
    <%= image_tag 'logo_javascript.png', class:"javascript-logo" %>



  </div>
</div>